table.table-bordered.dataTable thead th {
    vertical-align: middle !important;
    text-align: center;
}

table.table-bordered.dataTable tbody td{
    vertical-align: middle !important;
    /* text-align: center; */
}